{layout name="layout" replace="[__REPLACE__]" /}
<style>
    .layui-td-center{text-align: center}
</style>
<body class="childrenBody">

<button class="layui-btn" onclick="layerForm('添加权限','add','420','420')"><i class="layui-icon"></i>添加</button>
    <table class="layui-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>权限规则</th>
            <th>权限名称</th>
            <th>导航分类</th>
            <th style="text-align: center">操作</th>
        </thead>
        <tbody>
        {foreach $field as $vo}
        <tr>
            <td>{$vo.id}</td>
            <td>{$vo.name}</td>
            <td>{$vo.title}</td>
            <td>{$vo.nav}</td>
            <td class="td-manage layui-td-center">
                <a class="layui-btn layui-btn-sm" lay-event="edit" attr-id="{$vo.id}" onclick="layerForm('编辑','edit','420','420',this)">
                    <i class="iconfont icon-edit"></i>编辑
                </a>
                <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del" attr-id="{$vo.id}" onclick="realDelete(this)">
                    <i class="layui-icon">&#xe640;</i>删除
                </a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

<script>
    var SCOPE = {
        'delete_url':'/admin/auth.rules/delete',
        'edit_url':'/admin/auth.rules/edit?id='
    };
</script>
</body>
